<!-- <button routerLink = "/hospitals">Hospitals</button>
<button routerLink = "/shopping">Shopping</button>
<button routerLink="/foods">Foods</button> -->

<div class="container1">
<section class="dashboard">
    <div class="heading">
        <p >Choose what you want to explore!!</p>
    </div>
    

    <div class="row" style="margin-top: 100px;text-align: center; width: 100%; margin: 0 auto; padding: 2px;"
     routerLink="/hospitals">
        <div class="col-sm-3" style="text-align: center; margin: 0 auto; padding: 2px; cursor: pointer;">
            <div class="card card--up" >
                <img height="300px" src="assets/img/Hospital.jpg" alt="">
                <div class="card-heading">
                    Hospitals
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="text-align: center; margin: 0 auto; padding: 2px; cursor: pointer;" 
        routerLink="/foods">
            <div class="card card--up">
                <img  height="300px"   src="assets/img/food.jpg" alt="">
                <div class="card-heading">
                    Food Zone
                </div>
            </div>
            
        </div>
        <div class="col-sm-3" style="text-align: center; margin: 0 auto; padding: 2px; cursor: pointer;" 
        routerLink="/shopping">
            <div class="card card--up">
                <img  height="300px"   src="assets/img/shopping.jpg" alt="">
                <div class="card-heading">
                    Shopping
                </div>
            </div>
            
        </div>
      </div>

</section>
</div>

