<!-- <p>home-page works!</p> -->


<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>

<div class="page-wrapper"> 

   <!-- <button>Click</button> -->
   <div class="container1">
      <h1 class="app-heading">
         FHSC Advisor Application
      </h1>
      <div class="app-description">
         <p>Hello happy people 👋!</p>
        <p>
         <span class="badge bg-light text-dark" style="font-size: 20px;font-weight: 600S;">FHSC(Food Hospitals and Shopping Centers) </span>
          is an web application which tells the user about near by foods hospitals and shopping centres of bilaspur.
         This application is very useful for those persons who are new in this place and do not have that much knowledge about bilaspur. This application is region specific.
     
        </p> 
        <p>Our application also contains filters of place type, ownerships, distances and many more.</p> 
        <p>So common let's get started 😁😁😁!!</p>
      </div>
      <button class="btn-register" routerLink="/dashboard">
          Get Started
      </button>
     </div>
</div>